<%- include("./partials/header") %>
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">To Do App</h4>

            <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" action="/add/todo" method="POST">
              <div class="col-12">
                <div class="form-outline">
                  <input type="text" name="todo" class="form-control" placeholder="Enter a task here" />
                </div>
              </div>

              <div class="col-12">
                <input type="submit" class="btn btn-primary"></input>
              </div>

              <div class="col-12">
                <a href="http://localhost:3000/GetallTask" class="btn btn-primary btn-sm" type="submit" class="btn btn-warning">Get tasks</a>
              </div>
            </form>

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Todo item</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% var i=1; todo.forEach(function(todos, index){ %>
                    <% if(todo._id==todo.parent) 
                    { %>
                  <tr>
                    <th scope="row" id="number" value="0"><%= index+1 %></th>
                    <td><%= todos.todo %></td>
                    <td>In progress</td>
                    <td>
                      <a href="/delete/todo/<%= todos._id %>" class="btn btn-danger btn-sm" type="submit" class="btn btn-danger">Delete</a>
                      <button type="submit" class="btn btn-success ms-1">Finished</button>
                    </td>
                  </tr>
                  <%  i++;
                   } %>
                <% }); %>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("./partials/footer") %>

